{{ partial "head.html" . }}
<body>
{{ partial "banner.html" . }}
{{ partial "navbar.html" . }}
<div id="main">
	<div id="content">
		<div>
			<article class="hentry" role="article">
				<header>
			        <h1 class="entry-title">{{.Title}}</h1>
					<p class="meta">
						<time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" pubdate data-updated="true">{{ .Date.Format "January 2, 2006" }}</time>
					</p>
				</header>
				<div class="entry-content">
					{{.Content}}
				</div>
				<footer>
					<p class="meta">
{{ with .Site.Author.name }}
						<span class="byline author vcard">Posted by <span class="fn">{{ . }}</span></span>
{{ end }}
						<time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" pubdate data-updated="true">{{ .Date.Format "January 2, 2006" }}</time>
					</p>

					<div class="sharing">
						<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{.Permalink}}" data-via="" data-counturl="{{.Permalink}}">Tweet</a>
					</div>

					<p class="meta">
						{{if .Next}}<a class="basic-alignment left" href="{{.Next.Permalink}}" title="Previous Post: {{.Next.Title}}">&laquo; {{.Next.Title}}</a>{{end}}
						{{if .Prev}}<a class="basic-alignment right" href="{{.Prev.Permalink}}" title="Next Post: {{.Prev.Title}}">{{.Prev.Title}} &raquo;</a>{{end}}
					</p>
				</footer>
			</article>

{{ partial "disqus/comments.html" . }}
		</div>
{{ partial "post/sidebar.html" . }}
	</div>
</div>
{{ partial "footer.html" . }}
</body>
</html>