{{ partial "head.html" . }}
<body>
{{ partial "banner.html" . }}
{{ partial "navbar.html" . }}
<div id="main">
  <div id="content">

    <!-- only posts go on the main page -->
    {{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}
    <div class="blog-index">

      {{ range $index, $page := .Paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}

      {{ partial "pagination.html" $paginator }}

    </div>

{{ partial "page/sidebar.html" . }}

  </div>
</div>

{{partial "footer.html" .}}

</body>
</html>
